<rule>
  <name>ORIGEN_INGRESOS_ORDINARIA_COPIA</name>
  <modelVersion>1.0</modelVersion>
  <attributes/>
  <metadataList/>
  <lhs>
    <fact>
      <constraintList>
        <constraints>
          <fieldConstraint>
            <value>Linea</value>
            <operator>==</operator>
            <constraintValueType>7</constraintValueType>
            <expression>
              <parts/>
              <index>2147483647</index>
            </expression>
            <parameters/>
            <factType>CONDICIONES_SUGERIDAS_PROSPECT</factType>
            <fieldName>CODIGO_LINEA_PROSPECTO_SUGERIDO</fieldName>
            <fieldType>String</fieldType>
          </fieldConstraint>
          <fieldConstraint>
            <value>Temporada</value>
            <operator>==</operator>
            <constraintValueType>7</constraintValueType>
            <expression>
              <parts/>
              <index>2147483647</index>
            </expression>
            <parameters/>
            <factType>CONDICIONES_SUGERIDAS_PROSPECT</factType>
            <fieldName>CODIGO_TEMPORADA_PROSPECTO_SUGERIDO</fieldName>
            <fieldType>String</fieldType>
          </fieldConstraint>
        </constraints>
      </constraintList>
      <factType>CONDICIONES_SUGERIDAS_PROSPECT</factType>
      <boundName>Prospectodetallado</boundName>
      <isNegated>false</isNegated>
      <window>
        <parameters/>
      </window>
    </fact>
    <fact>
      <constraintList>
        <constraints>
          <fieldConstraint>
            <value>TipoAsociado</value>
            <operator>==</operator>
            <constraintValueType>7</constraintValueType>
            <expression>
              <parts/>
              <index>2147483647</index>
            </expression>
            <parameters/>
            <factType>CLIENTE_VINCULACION</factType>
            <fieldName>CODIGO_TIPO_ASOCIADO</fieldName>
            <fieldType>String</fieldType>
          </fieldConstraint>
          <fieldConstraint>
            <value>MediodePago</value>
            <operator>==</operator>
            <constraintValueType>7</constraintValueType>
            <expression>
              <parts/>
              <index>2147483647</index>
            </expression>
            <parameters/>
            <factType>CLIENTE_VINCULACION</factType>
            <fieldName>CODIGO_NOMINA_ASOCIADO</fieldName>
            <fieldType>String</fieldType>
          </fieldConstraint>
        </constraints>
      </constraintList>
      <factType>CLIENTE_VINCULACION</factType>
      <isNegated>false</isNegated>
      <window>
        <parameters/>
      </window>
    </fact>
    <fact>
      <constraintList>
        <constraints>
          <fieldConstraint>
            <value>ActividadEconomica</value>
            <operator>==</operator>
            <constraintValueType>7</constraintValueType>
            <expression>
              <parts/>
              <index>2147483647</index>
            </expression>
            <parameters/>
            <factType>CLIENTE_SOCIOECONOMICA</factType>
            <fieldName>CODIGO_ACTIVIDAD_ECONOMICA_CLIENTE</fieldName>
            <fieldType>String</fieldType>
          </fieldConstraint>
        </constraints>
      </constraintList>
      <factType>CLIENTE_SOCIOECONOMICA</factType>
      <isNegated>false</isNegated>
      <window>
        <parameters/>
      </window>
    </fact>
    <fact>
      <constraintList>
        <constraints>
          <fieldConstraint>
            <value>SalarioIntegral</value>
            <operator>==</operator>
            <constraintValueType>7</constraintValueType>
            <expression>
              <parts/>
              <index>2147483647</index>
            </expression>
            <parameters/>
            <factType>CLIENTE_INFO_LABORAL</factType>
            <fieldName>SALARIO_INTEGRAL_CLIENTE</fieldName>
            <fieldType>String</fieldType>
          </fieldConstraint>
        </constraints>
      </constraintList>
      <factType>CLIENTE_INFO_LABORAL</factType>
      <isNegated>false</isNegated>
      <window>
        <parameters/>
      </window>
    </fact>
  </lhs>
  <rhs>
    <setField>
      <fieldValues>
        <fieldValue>
          <field>CODIGO_ORIGEN_INGRESOS_PROSPECTO_SUGERIDO</field>
          <value>OrigendeIngresos</value>
          <nature>7</nature>
          <type>String</type>
        </fieldValue>
      </fieldValues>
      <variable>Prospectodetallado</variable>
    </setField>
  </rhs>
  <imports>
    <imports/>
  </imports>
  <packageName>com.selsa.credito.condicion_credito</packageName>
  <isNegated>false</isNegated>
  <table>
    <entry>
      <string>TipoAsociado</string>
      <list>
        <string>PENSIONADO</string>
        <string>ASOCIADO</string>
        <string>ASOCIADO</string>
        <string>ASOCIADO</string>
      </list>
    </entry>
    <entry>
      <string>OrigendeIngresos</string>
      <list>
        <string>SALARIO CONVENIO</string>
        <string>SALARIO NO CONVENIO</string>
        <string>OTRAS FUENTES INGRESOS</string>
        <string>OTRAS FUENTES INGRESOS</string>
      </list>
    </entry>
    <entry>
      <string>__ID_KOL_NAME__</string>
      <list>
        <string>1</string>
        <string>2</string>
        <string>3</string>
        <string>4</string>
      </list>
    </entry>
    <entry>
      <string>Temporada</string>
      <list>
        <string>DIA DEL PADRE</string>
        <string>NORMAL</string>
        <string>DIA DEL PADRE</string>
        <string>NORMAL</string>
      </list>
    </entry>
    <entry>
      <string>ActividadEconomica</string>
      <list>
        <string>EM</string>
        <string>PI</string>
        <string>EM</string>
        <string>EM</string>
      </list>
    </entry>
    <entry>
      <string>SalarioIntegral</string>
      <list>
        <string>N</string>
        <string>N</string>
        <string>N</string>
        <string>N</string>
      </list>
    </entry>
    <entry>
      <string>MediodePago</string>
      <list>
        <string>101</string>
        <string>101</string>
        <string>101</string>
        <string>101</string>
      </list>
    </entry>
    <entry>
      <string>Linea</string>
      <list>
        <string>LIBRE INVERSION</string>
        <string>LIBRE INVERSION</string>
        <string>LIBRE INVERSION</string>
        <string>LIBRE INVERSION</string>
      </list>
    </entry>
  </table>
  <idCol>4</idCol>
  <rowsCount>4</rowsCount>
</rule>