<rule>
  <name>ORIGEN_INGRESOS_ORDINARIA_SOLIC_CREDITO</name>
  <modelVersion>1.0</modelVersion>
  <attributes>
    <attribute>
      <attributeName>ruleflow-group</attributeName>
      <value>Independiente-Secuencial</value>
    </attribute>
  </attributes>
  <metadataList/>
  <lhs>
    <fact>
      <constraintList>
        <constraints>
          <fieldConstraint>
            <value>Linea</value>
            <operator>==</operator>
            <constraintValueType>7</constraintValueType>
            <expression>
              <parts/>
              <index>2147483647</index>
            </expression>
            <parameters/>
            <factType>CONDICIONES_SUGERIDAS_PROSPECT</factType>
            <fieldName>CODIGO_LINEA_PROSPECTO_SUGERIDO</fieldName>
            <fieldType>String</fieldType>
          </fieldConstraint>
        </constraints>
      </constraintList>
      <factType>CONDICIONES_SUGERIDAS_PROSPECT</factType>
      <boundName>Prospectodetallado</boundName>
      <isNegated>false</isNegated>
      <window>
        <parameters/>
      </window>
    </fact>
  </lhs>
  <rhs>
    <modify>
      <fieldValues>
        <fieldValue>
          <field>CODIGO_ORIGEN_INGRESOS_PROSPECTO_SUGERIDO</field>
          <value>OrigendeIngresos</value>
          <nature>7</nature>
          <type>String</type>
        </fieldValue>
      </fieldValues>
      <variable>Prospectodetallado</variable>
    </modify>
  </rhs>
  <imports>
    <imports/>
  </imports>
  <packageName>com.selsa.credito.condicion_credito</packageName>
  <isNegated>false</isNegated>
  <table>
    <entry>
      <string>OrigendeIngresos</string>
      <list>
        <string>SALARIO</string>
        <string>OTRAS</string>
      </list>
    </entry>
    <entry>
      <string>__ID_KOL_NAME__</string>
      <list>
        <string>14</string>
        <string>16</string>
      </list>
    </entry>
    <entry>
      <string>Linea</string>
      <list>
        <string>LIBRE</string>
        <string>VIVIENDA</string>
      </list>
    </entry>
  </table>
  <idCol>16</idCol>
  <rowsCount>2</rowsCount>
</rule>